#map {
  height: 500px; /* 원하는 높이 설정 */
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
}

input[type="text"],
button {
  margin: 10px;
  padding: 0.5em;
}

#response {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  max-width: 600px;
  white-space: pre-wrap;
}
